<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li>
            <a
              href="https://www.google.com.tw/maps/place/台北市中山北路一段53巷20號8樓"
              target="_blank"
            >
              <i class="fa fa-map-marker" aria-hidden="true"></i
              >台北市中山北路一段53巷20號8樓11室
            </a>
          </li>
          <li>
            <a href="tel:2521-1713">
              <i class="fa fa-phone" aria-hidden="true"></i>2521-1713
            </a>
          </li>
          <li>
            <a href="taipeinw@ms51.hinet.net">
              <i
                class="fa fa-envelope"
                aria-hidden="true"
                style="font-size: 1em"
              ></i>
              taipeinw@ms51.hinet.net
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <!--
        <a href="//www.rid3481.org/contact"
          ><img
            class="transition"
            style="border-radius: 30px; border: solid 1px #ddd"
            height="117px"
            src="/assets/images/message.jpg" /></a
        >
        -->
        <!-- 上架網址要改 -->
        <a href="https://line.me/R/ti/p/%40jut2305f" target="_blank"
          ><img
            class="transition"
            style="border-radius: 30px; border: solid 1px #ddd"
            height="117px"
            src="/assets/images/line.jpg"
        /></a>
      </div>

      <div class="col-md-2">
        <img
          height="117px"
          src="/assets/images/theme/theme.png"
        /><!-- 上架網址要改 -->
      </div>
    </div>
  </div>
</footer>
<!-- 版權宣告 -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span
          >&copy; Copyright <strong>台北西北區扶輪社</strong>. All Rights
          Reserved</span
        >
        <!--
        <span class="fr"
          ><a href="https://www.facebook.com/RID3481DGfans/"
            ><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a
        ></span>
        -->
      </div>
    </div>
  </div>
</div>
<div id="gotop"><i class="fa fa-chevron-up"></i></div>
