<!-- banner -->
<section class="fixed_bg_h360">
  <div class="title_box wow fadeIn">
    <span class="banner_title">相關連結</span>
    <span class="banner_shadow">相關連結</span>
  </div>
</section>

<!-- main -->
<section class="main container wow fadeInUp">
  <div class="row">
    <!-- links-list -->
    <div class="links-list col-md-3">
      <a href="http://www.rotary.org/" target="_blank">
        <div class="pic">
          <img src="/assets/images/links/Rotary.jpg" />
        </div>
        <div class="information">
          <div class="title">國際扶輪網站</div>
        </div>
      </a>
    </div>
    <div class="links-list col-md-3">
      <a href="https://rotarytaipeiwest.tw/" target="_blank">
        <div class="pic">
          <img src="/assets/images/links/taipei_west_rotary.png" />
        </div>
        <div class="information">
          <div class="title">緣故社(台北西區扶輪社)</div>
        </div>
      </a>
    </div>
    <div class="links-list col-md-3">
      <a href="https://rotarytaipeiwest.tw/" target="_blank">
        <div class="pic">
          <img src="/assets/images/links/west_rotary_club_logo.jpg" />
        </div>
        <div class="information">
          <div class="title">國外姐妹社及友好社<br />(日本茅K崎扶輪社)</div>
        </div>
      </a>
    </div>
    <div class="links-list col-md-3">
      <a href="https://rid3482.org/" target="_blank">
        <div class="pic">
          <img src="/assets/images/links/Rotary_3482.jpg" />
        </div>
        <div class="information">
          <div class="title">國際扶輪3482地區</div>
        </div>
      </a>
    </div>
    <div class="links-list col-md-3">
      <a href="http://www.cref.org.tw/" target="_blank">
        <div class="pic">
          <img src="/assets/images/links/20210630150514.jpg" />
        </div>
        <div class="information">
          <div class="title">中華扶輪教育基金會</div>
        </div>
      </a>
    </div>
    <div class="links-list col-md-3">
      <a href="http://www.taiwan-rotary.org/" target="_blank">
        <div class="pic">
          <img src="/assets/images/links/20190122161059.jpg" />
        </div>
        <div class="information">
          <div class="title">台灣扶輪出版暨網路資訊協會</div>
        </div>
      </a>
    </div>
    <div class="links-list col-md-3">
      <a href="http://www.ritrca.com.tw/" target="_blank">
        <div class="pic">
          <img src="/assets/images/links/20190122161247.jpg" />
        </div>
        <div class="information">
          <div class="title">國際扶輪台灣總會</div>
        </div>
      </a>
    </div>
    <div class="links-list col-md-3">
      <a
        href="http://www.rotary-tja.org/ezinfo/front/bin/home.phtml"
        target="_blank"
      >
        <div class="pic">
          <img src="/assets/images/links/20190122161342.jpg" />
        </div>
        <div class="information">
          <div class="title">台日國際扶輪親善會</div>
        </div>
      </a>
    </div>
  </div>
  <!-- End .row -->
</section>
